<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">All rights reserved. COMP229 - Midterm Test</p>
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="display navbar-text">&nbsp;&copy;&nbsp;Copyright Eman Abubakr-Student#: 301171599-COMP229-SEC009-MidtermTest-Fall2021 .</h6>
      </nav>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>    
</body>
</html>