<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <h2>Welcome to Eman's Abubakr Midterm Test - Student #: 301171599 - SEC 009</h2>

<h2>COMP 229 - Midterm Test - Fall 2021 </h2>
<% include partials/footer.ejs %>
